{% extends 'base.html.twig' %}
{% block title %}Mentions légales
{% endblock %}
{% block body %}
	<h1>I. Présentation du site:</h1>
	<p>Conformément aux dispositions des articles 6.III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'<b>
			utilisateur</b>, du site abeillesetplantes, ci-après le "<b>site</b>", les présentes mentions légales.
		<br>
		La connexion et la navigation sur le site par l'utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.
		<br>
		Ces dernières sont accessibles sur le site à la rubrique "<b>Mentions légales</b>"
	</p>
	<h2>
		ARTICLE 1 - L'EDITEUR</h2>
{% endblock %}
