{% extends 'base.html.twig' %}
{% block title %}Où trouver mes produits ?
{% endblock %}
{% block body %}
	<h1>Points de vente</h1>
	<p>Vous pouvez retrouver mes produits dans les points de vente suivants :</p>
	<ul>
		<li>Magasin 1</li>
		<li>Magasin 2</li>
		<li>Magasin 3</li>
	</ul>
	<p>Si vous souhaitez devenir distributeur, rendez-vous sur la page
		<a href="{{ path('home_distributeur') }}">Devenir distributeur</a>
	</p>
{% endblock %}
{% block body %}{% endblock %}
